name: Deploy

on:
  workflow_dispatch:
    inputs:
      imagetag:
        description: 'Enter container tag'
        required: true
              
jobs:
  deploy:

    runs-on: self-hosted

    steps:
    
    - name: Switch user
      run: sudo su - vagrant
    
    - name: Login to Docker Hub & Run image
      uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
      with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          
    - name: Run Docker image
      run:  |  
          docker pull anamali/spring-petclinic:${{ inputs.imagetag }}
          docker run --name myapp -d anamali/spring-petclinic:${{ inputs.imagetag }}
