name: Deploy

on:
  workflow_dispatch:
    inputs:
      imagetag:
        description: 'Enter container tag'
        required: true
              
jobs:
  deploy:

    runs-on: self-hosted

    steps:
    
    - name: Switch user
      run: sudo su - vagrant
    
    - name: Login to Docker Hub
      uses: jerray/publish-docker-action@v1.0.5
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
        repository: anamali/spring-petclinic
          
    - name: Run Docker image
      run:  |  
          docker pull anamali/spring-petclinic:${{ inputs.imagetag }}
          docker run --name myapp -d anamali/spring-petclinic:${{ inputs.imagetag }}
